<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <!-- import CSS -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <style>

    </style>
</head>
<body>
<div id="app">
    <div>
        <el-container>
            <el-header>
                <el-menu :default-active="activeIndex" class="el-menu-demo" mode="horizontal" @select="handleSelect">
                    <el-menu-item index="1">首页</el-menu-item>
                    <el-menu-item index="2">问卷制作</el-menu-item>
                    <el-menu-item index="3">结果分析</el-menu-item>
                </el-menu>
                <div class="line"></div>
            </el-header>
            <el-main>
                <!-- 首页 -->
                <template v-if="activeIndex === '1'">
                    <el-carousel :interval="4000" type="card" height="200px">
                        <el-carousel-item v-for="img in img_list" :key="img">
                            <img :src="img"/>
                        </el-carousel-item>
                    </el-carousel>
                </template>
                <!-- 问卷页 -->
                <template v-if="activeIndex === '2' && tableVisible === '1'">
                    <el-table
                            :data="QuestionnaireTableData"
                            style="width: 100%">
                        <el-table-column
                                label="问卷名"
                                prop="questionnaireName">
                        </el-table-column>
                        <el-table-column
                                label="问卷简介"
                                prop="questionnaireDescription">
                        </el-table-column>
                        <el-table-column align="right">
                            <template slot-scope="scope">
                                <el-button
                                        size="mini"
                                        @click="handleQuestionnairePublish(scope.$index)">发布
                                </el-button>
                                <el-button
                                        size="mini"
                                        @click="handleQuestionnaireEdit(scope.$index)">编辑
                                </el-button>
                                <el-button
                                        size="mini"
                                        type="danger"
                                        @click="handleQuestionnaireDelete(scope.$index)">删除
                                </el-button>
                            </template>
                        </el-table-column>
                    </el-table>
                    <div align="center" style="margin-top: 10px; margin-bottom: 10px">
                        <el-button type="success" @click="handleQuestionnaireAdd()" icon="el-icon-plus"
                                   circle></el-button>
                    </div>
                    <el-dialog title="新建问卷" :visible.sync="dialogFormVisible">
                        <el-form :model="questionnaireForm">
                            <el-form-item label="问卷名">
                                <el-input v-model="questionnaireForm.name" autocomplete="off"></el-input>
                            </el-form-item>
                            <el-form-item label="问卷简介">
                                <el-input v-model="questionnaireForm.description" autocomplete="off"></el-input>
                            </el-form-item>
                        </el-form>
                        <div slot="footer" class="dialog-footer">
                            <el-button @click="dialogFormVisible = false">取 消</el-button>
                            <el-button type="primary" @click="dialogFormVisible = false; onQuestionnaireSubmit()">确 定
                            </el-button>
                        </div>
                    </el-dialog>
                </template>
                <!-- 问题页 -->
                <template v-if="activeIndex === '2' && tableVisible === '2'">
                    <el-table
                            :data="QuestionTableData"
                            stripe
                            style="width: 100%">
                        <el-table-column
                                prop="questionContent"
                                label="问题">
                        </el-table-column>
                        <el-table-column
                                prop="questionType"
                                label="题型">
                        </el-table-column>
                        <el-table-column align="right">
                            <template slot="header" slot-scope="scope">
                                <el-button
                                        size="mini"
                                        @click="tableVisible = '1'">返回
                                </el-button>
                            </template>
                            <template slot-scope="scope">
                                <el-button
                                        size="mini"
                                        @click="handleQuestionEdit(scope.$index)">编辑选项
                                </el-button>
                                <el-button
                                        size="mini"
                                        type="danger"
                                        @click="handleQuestionDelete(scope.$index)">删除
                                </el-button>
                            </template>
                        </el-table-column>
                    </el-table>
                    <div align="center" style="margin-top: 10px; margin-bottom: 10px">
                        <el-button type="success" @click="handleQuestionAdd()" icon="el-icon-plus"
                                   circle></el-button>
                    </div>
                    <el-dialog title="新建问题" :visible.sync="dialogForm2Visible">
                        <el-form :model="questionForm">
                            <el-form-item label="问题">
                                <el-input v-model="questionForm.content" autocomplete="off"></el-input>
                            </el-form-item>
                            <el-form-item label="题型">
                                <el-input v-model="questionForm.type" autocomplete="off"></el-input>
                            </el-form-item>
                        </el-form>
                        <div slot="footer" class="dialog-footer">
                            <el-button @click="dialogForm2Visible = false">取 消</el-button>
                            <el-button type="primary" @click="dialogForm2Visible = false; onQuestionSubmit()">确 定
                            </el-button>
                        </div>
                    </el-dialog>
                </template>
                <!-- 选项页 -->
                <template v-if="activeIndex === '2' && tableVisible === '3'">
                    <el-table
                            :data="OptionTableData"
                            stripe
                            style="width: 100%">
                        <el-table-column
                                prop="optionContent"
                                label="选项">
                        </el-table-column>
                        <el-table-column
                                prop="optionValue"
                                label="分值">
                        </el-table-column>
                        <el-table-column align="right">
                            <template slot="header" slot-scope="scope">
                                <el-button
                                        size="mini"
                                        @click="tableVisible = '2'">返回
                                </el-button>
                            </template>
                            <template slot-scope="scope">
                                <el-button
                                        size="mini"
                                        type="danger"
                                        @click="handleOptionDelete(scope.$index)">删除
                                </el-button>
                            </template>
                        </el-table-column>
                    </el-table>
                    <div align="center" style="margin-top: 10px; margin-bottom: 10px">
                        <el-button type="success" @click="handleOptionAdd()" icon="el-icon-plus"
                                   circle></el-button>
                    </div>
                    <el-dialog title="新建选项" :visible.sync="dialogForm3Visible">
                        <el-form :model="optionForm">
                            <el-form-item label="选项">
                                <el-input v-model="optionForm.content" autocomplete="off"></el-input>
                            </el-form-item>
                            <el-form-item label="分值">
                                <el-input v-model="optionForm.value" autocomplete="off"></el-input>
                            </el-form-item>
                        </el-form>
                        <div slot="footer" class="dialog-footer">
                            <el-button @click="dialogForm3Visible = false">取 消</el-button>
                            <el-button type="primary" @click="dialogForm3Visible = false; onOptionSubmit()">确 定
                            </el-button>
                        </div>
                    </el-dialog>
                </template>

            </el-main>
            <el-footer>Footer</el-footer>
        </el-container>
    </div>
</div>
</body>
<!-- import Vue before Element -->
<script src="https://unpkg.com/vue/dist/vue.js"></script>
<!-- import JavaScript -->
<script src="https://unpkg.com/element-ui/lib/index.js"></script>
<!-- import axios -->
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script>
    new Vue({
        el: '#app',
        data: {
            activeIndex: '1',
            img_list: ["./img/banner1.jpg", "./img/banner2.jpg", "./img/banner3.jpg"],      //首页轮播图资源

            QuestionnaireTableData: null,
            QuestionTableData: null,
            OptionTableData: null,

            dialogFormVisible: false,           //显示问卷添加表单
            dialogForm2Visible: false,          //显示问题添加表单
            dialogForm3Visible: false,          //显示选项添加表单
            tableVisible: '1',                  //显示问卷：1，问题： 2， 选项： 3

            questionnaireForm: {
                name: '',
                description: ''
            },
            questionForm: {
                content: '',
                type: ''
            },
            optionForm: {
                content: '',
                value: ''
            },

            questionnaireId: '',
            questionId: '',
            optionId: ''
        },
        mounted() {
            axios.get('http://localhost:8081/questionnaire/selectAll').then(response => (this.QuestionnaireTableData = response.data));
        },
        methods: {

            //功能页面切换
            handleSelect(key, keyPath) {
                this.activeIndex = key;
            },

            //问卷发布到小程序
            handleQuestionnairePublish(index) {
                this.questionnaireId = this.QuestionnaireTableData[index].questionnaireId;

            },

            //问卷增
            handleQuestionnaireAdd() {
                this.dialogFormVisible = true;
                this.questionnaireForm.name = '';
                this.questionnaireForm.description = '';
            },
            onQuestionnaireSubmit() {
                axios.post('http://localhost:8081/questionnaire/insertOne/', {
                    questionnaireName: this.questionnaireForm.name,
                    questionnaireDescription: this.questionnaireForm.description
                })
                .then((res) => {
                    axios.get('http://localhost:8081/questionnaire/selectAll').then(response => (this.QuestionnaireTableData = response.data));
                })
                .catch((err) => {
                    console.log(err.message);
                });
            },

            //问卷删
            handleQuestionnaireDelete(index) {
                this.questionnaireId = this.QuestionnaireTableData[index].questionnaireId;
                axios.delete("http://localhost:8081/questionnaire/deleteById/" + this.questionnaireId, {}).then((res) => {
                    this.questionnaireId = 0;
                    //刷新问卷表
                    axios.get('http://localhost:8081/questionnaire/selectAll').then(response => (this.QuestionnaireTableData = response.data));
                }).catch((err) => {
                    console.log(err);
                })
            },

            //问卷列表跳转问题列表
            handleQuestionnaireEdit(index) {
                this.tableVisible = '2';
                this.questionnaireId = this.QuestionnaireTableData[index].questionnaireId;
                axios.get('http://localhost:8081/question/selectByQuestionnaireId/' + this.questionnaireId).then(response => (this.QuestionTableData = response.data));
            },

            //问题增
            handleQuestionAdd() {
                this.dialogForm2Visible = true;
                this.questionForm.content = '';
                this.questionForm.type = '';
            },
            onQuestionSubmit() {
                axios.post('http://localhost:8081/question/insertOne/', {
                    questionContent: this.questionForm.content,
                    questionType: this.questionForm.type,
                    questionQuestionnaireId: this.questionnaireId
                }).then((res) => {
                    axios.get('http://localhost:8081/question/selectByQuestionnaireId/' + this.questionnaireId).then(response => (this.QuestionTableData = response.data));
                }).catch((err) => {
                    console.log(err.message);
                });
            },

            //问题删
            handleQuestionDelete(index) {
                this.questionId = this.QuestionTableData[index].questionId;
                axios.delete("http://localhost:8081/question/deleteById/" + this.questionId, {}).then((res) => {
                    this.questionId = 0;
                    axios.get('http://localhost:8081/question/selectByQuestionnaireId/' + this.questionnaireId).then(response => (this.QuestionTableData = response.data));
                }).catch((err) => {
                    console.log(err);
                })
            },

            //问题列表跳转选项列表
            handleQuestionEdit(index) {
                this.tableVisible = '3';
                this.questionId = this.QuestionTableData[index].questionId;
                axios.get('http://localhost:8081/option/selectByQuestionId/' + this.questionId).then(response => (this.OptionTableData = response.data));
            },

            //选项增
            handleOptionAdd() {
                this.dialogForm3Visible = true;
                this.optionForm.content = '';
                this.optionForm.value = '';
            },
            onOptionSubmit() {
                axios.post('http://localhost:8081/option/insertOne/', {
                    optionContent: this.optionForm.content,
                    optionValue: this.optionForm.value,
                    optionQuestionId: this.questionId
                }).then((res) => {
                    axios.get('http://localhost:8081/option/selectByQuestionId/' + this.questionId).then(response => (this.OptionTableData = response.data));
                }).catch((err) => {
                    console.log(err.message);
                });
            },

            //选项删
            handleOptionDelete(index) {
                this.optionId = this.OptionTableData[index].optionId;
                axios.delete("http://localhost:8081/option/deleteById/" + this.optionId, {}).then((res) => {
                    this.optionId = 0;
                    axios.get('http://localhost:8081/option/selectByQuestionId/' + this.questionId).then(response => (this.OptionTableData = response.data));
                }).catch((err) => {
                    console.log(err);
                })
            }
        }
    })
</script>
</html>